.description {

    &__description {

        font-size: 2rem;
        text-indent: 4rem;
        line-height: 3rem;
        padding-left: 1.5rem;

        & b {
            font-weight: bold;
        }
    }

    &__img {
        text-align: center;
        margin-top: 50px;

        & img {
            width: 80%;

        }
    }

    &__title {
        font-size: 4rem;
        margin: 3rem auto 2rem;
    }

    &__wrapper-internal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        background-color: orange;
        border-radius: 10px;
    }

    &__button {
        position: fixed;
        width: 5rem;
        height: 5rem;
        background-color: rgba(black, 0);
        color: orange;
        font-size: 3rem;    
        letter-spacing: 0.2rem;
        border-width: 0;
        top: 2rem;
        right: 5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__wrapper-outher {
        position: fixed;
        margin: 0 auto;
        z-index: 1;
        overflow: scroll;
        top: 0;
        bottom: 0;


        z-index: 2;
        padding-top: 3rem; 
        padding-bottom: 3rem;
        // min-height: 100vh;
        min-width: 100%;
        overflow-y: auto;
        background-color: rgba(black, 0.4);
    }

}